[submodule "gui"]
	path = gui
	url = git@bitbucket.org:dualmanipulation/gui.git
[submodule "planning"]
	path = planning
	url = git@bitbucket.org:dualmanipulation/planning.git
[submodule "state_manager"]
	path = state_manager
	url = git@bitbucket.org:dualmanipulation/state_manager.git
[submodule "vision"]
	path = vision
	url = git@bitbucket.org:dualmanipulation/vision.git
[submodule "grasp_verification"]
	path = grasp_verification
	url = git@bitbucket.org:dualmanipulation/grasp_verification.git
[submodule "grasp_DB"]
	path = grasp_DB
	url = git@bitbucket.org:dualmanipulation/grasp_DB.git
[submodule "ik_control"]
	path = ik_control
	url = git@bitbucket.org:dualmanipulation/ik_control.git
[submodule "shared"]
	path = shared
	url = git@bitbucket.org:dualmanipulation/shared.git
